html, body {
  width: 400px;
  height: 709px;
  min-width: 400px;
  min-height: 709px;
  max-width: 400px;
  max-height: 709px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-app-region: drag;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.gbc {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 709px;
  min-width: 400px;
  min-height: 709px;
  max-width: 400px;
  max-height: 709px;
}

.gbc-body {
  background-color: #b2e200;
  border-radius: 22px 22px 30% 30% / 22px 22px 50px 50px;
  margin-top: 22px;
  flex: 1;
}

.gbc-screen-frame {
  background-color: #000;
  border-radius: 22px 22px 0 0;
  margin: 0 20px;
  margin-top: 22px;
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gbc-screen-frame-bottom {
  background-color: #000;
  border-radius: 0 0 14px 14px / 0 0 22px 22px;
  height: 50px;
  margin: 0 20px;
}

.gbc-screen-frame-end {
  background-color: #000;
  border-radius: 0 0 20% 20% / 0 0 100% 100%;
  height: 7px;
  margin: 0 30px;
  margin-top: -2px;
}

.gbc-screen {
  width: 233.33px;
  height: 210px;
  display: flex;
  background-image: url("images/lcd.png");
}

.gbc-loading, .gbc-lcd {
  flex: 1;
}

.gbc-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gbc-lcd {
  display: none;
}

.gbc-middle {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 80px;
}

.gbc-button {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.gbc-dpad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.gbc-dpad .gbc-button, .gbc-dpad-empty {
  height: 30px;
  width: 30px;
  background-color: #000;
}

.gbc-dpad-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gbc-button-up {
  border-radius: 3px 3px 0 0;
}

.gbc-button-right {
  border-radius: 0 3px 3px 0;
}

.gbc-button-down {
  border-radius: 0 0 3px 3px;
}

.gbc-button-left {
  border-radius: 3px 0 0 3px;
}

.gbc-buttons-right {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-top: 5px;
}

.gbc-button-a, .gbc-button-b {
  height: 50px;
  width: 50px;
  background-color: #000;
  border-radius: 50%;
  color: #CCC;
  text-align: center;
}

.gbc-buttons-right .gbc-button-label {
  padding-top: 5px;
  padding-right: 7px;
  font-size: 35px;
}

.gbc-button-a {
  margin-left: 70px;
  margin-bottom: -10px;
}

.gbc-button-b {
  margin-right: 70px;
  margin-top: -10px;
}

.gbc-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.gbc-select, .gbc-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gbc-button-select, .gbc-button-start {
  background-color: #000;
  height: 15px;
  width: 35px;
  margin: 0 15px;
  margin-bottom: 9px;
  border-radius: 5px;
}

.gbc-body-end {
  background-color: #b2e200;
  border-radius: 0 0 20% 20% / 0 0 100% 100%;
  height: 3px;
  margin: 0 80px;
  margin-top: -4px;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: calc((100vw - 111.11vh) / 2);
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 111.11vh;
}

.pixelated {
  /* Legal fallback */
  image-rendering: optimizeSpeed;
  /* Firefox        */
  image-rendering: -moz-crisp-edges;
  /* Opera          */
  image-rendering: -o-crisp-edges;
  /* Safari         */
  image-rendering: -webkit-optimize-contrast;
  /* CSS3 Proposed  */
  image-rendering: optimize-contrast;
  /* CSS4 Proposed  */
  image-rendering: crisp-edges;
  /* CSS4 Proposed  */
  image-rendering: pixelated;
  /* IE8+           */
  -ms-interpolation-mode: nearest-neighbor;
}

.flex {
  flex: 1;
}

::selection {
  background: transparent;
}
