html, body {
  width: 400px;
  height: 709px;
  min-width: 400px;
  min-height: 709px;
  max-width: 400px;
  max-height: 709px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-app-region: drag;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 22px;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: calc((100vw - 111.11vh) / 2);
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 111.11vh;
}

.pixelated {
  /* Legal fallback */
  image-rendering: optimizeSpeed;
  /* Firefox        */
  image-rendering: -moz-crisp-edges;
  /* Opera          */
  image-rendering: -o-crisp-edges;
  /* Safari         */
  image-rendering: -webkit-optimize-contrast;
  /* CSS3 Proposed  */
  image-rendering: optimize-contrast;
  /* CSS4 Proposed  */
  image-rendering: crisp-edges;
  /* CSS4 Proposed  */
  image-rendering: pixelated;
  /* IE8+           */
  -ms-interpolation-mode: nearest-neighbor;
}

.flex {
  flex: 1;
}

::selection {
  background: transparent;
}
